@import url(https://fonts.googleapis.com/css2?family=Arimo&family=Caveat+Brush&display=swap);

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #dad7cd;
}

main {
    flex: 1 0 auto;
}

p {
    font-family: 'Arimo', sans-serif;
}

.title {
    font-family: 'Caveat Brush', sans-serif;
    color: #344e41;
}

.green-bg{
    background-color: #3a5a40;
    color:#dad7cd
}

form i, a i{
    color:#a3b18a;
}

.dark-green-text{
    color:#344e41
}

.fa-plus {
    background-color: #a3b18a;
}

/* code from css-tricks */
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(52, 78,  65, 0), rgba(52, 78,  65, 0.75), rgba(52, 78,  65, 0));
}

/* NavBar */
.brand-logo {
    font-family: 'Caveat Brush', sans-serif;
}

/* Hero Img */
.hero {
    height: 60vh;

    /* Perfecst Full Page Background Image https://css-tricks.com/perfect-full-page-background-image/ */
    background: url(../images/goat.jpg) no-repeat center center fixed;
    background-size: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #3a5a40;
    line-height: 1.0;
    z-index: 1;
}

.hero-h1-text {
    font-family: "Caveat Brush", sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
    -webkit-filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

@media only screen and (max-width: 320px) {
    .hero-h1-text {
        font-size: 38px;
    }
}

/*Recipes*/
.card-content, .modal-content i{
    color: #344e41;
}

.card .card-image img {
    height: 250px;
    object-fit: cover;
}

.card .card-content {
    height: 200px;
    padding-top: 20px;
}

.card {
    height: 550px;
}