{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="title center-align">Contact Us</h2>
    <hr class="title">
    <p class="center-align dark-green-text">Would you like to ask a question or have feedback? <br>
    Simply fill in the form and we will be with you as soon as possible.</p>
    <!-- Register form -->
    <div class="row">
        <form class="col s12 l8 offset-l2" action="" method="POST">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" name="name" type="text" minlength="5" maxlength="15"
                            title="Full in letters" pattern="^\S+$" class="validate" required>
                        <label for="username"><i class="fa-solid fa-user"></i> Full name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" pattern="^\S+$" class="validate" required>
                        <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <textarea id="message" class="materialize-textarea" data-length="500"></textarea>
                      <label for="message"><i class="fa-solid fa-message"></i> Message</label>
                    </div>
                  </div>
                <div class="row">
                    <div class="center-align">
                        <button type="submit" class="btn-large green-bg"><i class="fa-solid fa-paper-plane"></i> Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
