{% extends "base.html" %}
{% block content %}

<h2 class="title center-align">Profile</h2>
<hr class="title">
<div class="row">
    <div class="col s12 m4">
        <a href="{{ url_for('add_recipe') }}" class="btn-large green-bg">Add recipe
            <i class="fas fa-plus-square right"></i>
        </a>
    </div>
    <div class="col s12 m4">
        <a href="{{ url_for('logout') }}" class="btn-large red">Logout
        </a>
    </div>
</div>

<div class="row">
    {% for recipe in recipe_list%}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" alt="Image of recipe">
                        <!-- If recipe doesn't have an image use alternative -->
                        {% else %}
                        <img src="{{ url_for('static', filename='/images/recipe_image.jpg') }}" alt="Image of recipe">
                        {% endif %}
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="card-content">
                        <div class="row modal-trigger" href="#recipe-modal-{{ recipe._id }}">
                            <div class="col s12">
                                <h3 class="card-title title">{{ recipe.recipe_title}}</h3>
                                <p><i class="fas fa-clock"></i> Cook: {{ recipe.cook_time }} mins</p>
                                <p><i class="fas fa-utensils"></i> Serves: {{ recipe.servings }}</p>
                                {% if recipe.vegan == "on" %}
                                    <i class="fa-solid fa-leaf"> Vegan</i>
                                {% endif %}
                                <p>Created By: {{ recipe.created_by }}</p>
                            </div>
                        </div>
                        <div class="card-body text-center">
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn green-bg">Edit Recipe</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red"><i class="fa-solid fa-trash"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>



{% endblock %}