{% extends "base.html" %}
{% block content%}
<h2 class="center-align title">Recipes</h2>

<!--Display button only if user is logged in-->
{% if session.user %}
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large green-bg">Add recipe
            <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
{% endif %}


<!--Search Bar-->
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search_recipes') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Recipes</label>
            </div>
            <div class="col s12 m4">
                <button type="submit" class="green-bg btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
                <a href="{{ url_for('recipes') }}" class="red btn text-shadow">Reset</a>
            </div>
        </div>
    </form>
</div>


<!--Recipes-->
{% if recipes|length > 0 %}
<div class="row">
    {% for recipe in recipes%}
    <div class="col s12 m6 l4">
        <div class="card large">
            <div class="card-image">
                {% if recipe.image_url %}
                <a class="modal-trigger" href="#recipe-modal-{{ recipe._id }}">
                    <img src="{{ recipe.image_url }}" alt="Image of recipe"></a>
                <!-- If recipe doesn't have an image use alternative -->
                {% else %}
                <a class="modal-trigger" href="#recipe-modal-{{ recipe._id }}">
                    <img src="{{ url_for('static', filename='/images/recipe_image.jpg') }}" alt="Image of recipe"></a>
                {% endif %}
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h3 class="card-title title">{{ recipe.recipe_title }}</h3>
                        <p><i class="fas fa-clock"></i> Cook: {{ recipe.cook_time }} mins</p>
                        <p><i class="fas fa-utensils"></i> Serves: {{ recipe.servings }}</p>
                        {% if recipe.vegan == "on" %}
                        <i class="fa-solid fa-leaf"> Vegan</i>
                        {% endif %}
                        <p>Created By: {{ recipe.created_by }}</p>
                    </div>
                </div>
                <div class="card-action center-align">
                    {% if session.user|lower == recipe.created_by|lower or session.user|lower == 'admin' %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn green-bg">Edit Recipe</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red"><i
                            class="fa-solid fa-trash"></i> Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div id="recipe-modal-{{ recipe._id }}" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="title center-align">{{ recipe.recipe_title}}</h4>
            <div class="row">
                <div class="col s8">
                    <h5 class="title ">Ingredients</h5>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <p><i class="fas fa-clock"></i> Cook: {{ recipe.cook_time }} mins</p>
                    <p><i class="fas fa-utensils"></i> Serves: {{ recipe.servings }}</p>
                    <p><i class="fa-solid fa-bowl-food"></i> Category: {{ recipe.category_name }}</p>
                    {% if recipe.vegan == "on" %}
                    <i class="fa-solid fa-leaf"> Vegan</i>
                    {% endif %}
                </div>
            </div>
            <div>
                <h5 class="title">Steps</h5>
                <ol>
                    {% for step in recipe.method_step %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat green-bg">Close</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}

{% endblock %}